@keyframes enter {
    from{
      opacity: 0;
      scale: 0.6;
    }
    to{
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes enter1{
    from{
      opacity: 0;
      transform:translateY(200px) ;

    }
    to{
      opacity: 1;
      transform:translateY(0);
    }
  }
  @keyframes left {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes right{
    from{
      opacity: 0;
      transform:translateX(200px) ;

    }
    to{
      opacity: 1;
      transform:translateX(0);
    }
  }


.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: enter linear;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 100vh;
}
.container1 .ach-ul{
    display: flex;
    justify-content: space-around;

}
.container1 .ach-ul .ach-li {
    font-size: 1.3em;
    font-weight: 300;
    list-style: none;
    margin: 1rem;
    border: 2px solid #FF6123;
    max-width: 20%;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out, shadow 0.3s ease-in-out;
}

.container1 .ach-ul .left{
    animation: left 1s ease-in-out;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;

}

.container1 .ach-ul .right{
    animation: right linear;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;

}

.container1 .ach-ul .enter1{
    animation: enter1 linear;
    animation-timeline: view();
    animation-range-start: 0vh;
    animation-range-end: 40vh;
}


.container1 .ach-ul .ach-li:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 8px rgba(152, 11, 11, 0.567);
}
.container1 p {
    color: #dfdada;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1em;
    max-width: 75%;
    text-align: center; 
}